#vscode
.vscode
.cache
.config

# Binaries for programs and plugins
main
*.exe
*.exe~
*.dll
*.so
*.dylib
activate.mise.toml

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
.idea
bin
tmp

#.env
*.env

# Logs
logs/
mise.log
